:root {
    background-color: rgb(255, 230, 255); 
    font-family: Georgia, 'Times New Roman', Times, serif'

}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 80px;
    margin: 35px 0;
    color: rgb(198, 43, 226);
    cursor: pointer;
}

.intro {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.container {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

h4 {
    text-align: center;
    font-size: 15px;
    color:black;
}